@import "/public/css/reset.css";

:root {
  --color-accent: rgba(128, 0, 255, 1);
  --color-gray-darker: rgba(0, 0, 0, 0.87);
  --color-gray-medium: rgba(0, 0, 0, 0.7);
  --color-gray-light: rgba(0, 0, 0, 0.24);
  --color-gray-lighter: rgba(0, 0, 0, 0.12);
  --color-gray-lightest: rgba(0, 0, 0, 0.08);
}

body {
  font: 14px/24px "Roboto", sans-serif;
  color: var(--color-gray-medium);
}

.app {
  width: 1000px;
  margin: 0 auto;
}

.header {
  padding-bottom: 45px;
  border-bottom: 2px solid var(--color-gray-lightest);
  position: relative;
}

.header__title {
  font-size: 48px;
  line-height: 64px;
  font-weight: 700;
  margin-bottom: 25px;
  color: var(--color-gray-darker);
}

.header__subtitle {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
}
.header__subtitle p:first-child {
  margin-bottom: 32px;
}

.action {
  color: var(--color-accent); 
}
.action--lights{
  position: absolute;
  top: 0;
  right: 0;
}

.colorized {
  color: var(--color-accent); 
}

.content {
  display: flex;
}

.controls {
  flex: 50%;
}

.result {
  flex: 50%;
}


.baseline-grid-background {
  overflow: hidden;
  height: 456px;
  background: linear-gradient(to bottom, #e5e5e5, #e5e5e5 50%, #fff 50%, #fff);
  background-size: 100% 16px;
}

.baseline-grid-visibility {
}
